<a href="https://colab.research.google.com/github/Chaitanya2304/Assignment-2/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1st question

In [ ]:
a=float(input("Enter length of 1st side of a triangle:"))  
b=float(input("Enter length of 2nd side of a triangle:"))  
c=float(input("Enter length of 3rd side of a triangle:"))  
if(a+b>c):
  s=(a+b+c)/2  
  area=(s*(s-a)*(s-b)*(s-c))**(1/2)
  print("The area of the triangle is= ", round(area,2))
else:
  print("The triangle is not possible")

Enter length of 1st side of a triangle:12
Enter length of 2nd side of a triangle:13
Enter length of 3rd side of a triangle:20
The area of the triangle is=  74.91

2nd question

In [ ]:
s=input("Enter a string:")
if(s==s[::-1]):
    print("Given string {} is palindrome".format(s))
else:
    print("Given string {} is not palindrome".format(s))

Enter a string:dad
Given string dad is palindrome

3rd question

In [ ]:
year=int(input("Enter the year:"))
if(year%4==0 and year%100!=0 or year%400==0):
    print("{} The entered year is leap year".format(year))
else:
    print("{} The entered year is not a leap year".format(year))

Enter the year:2016
2016 The entered year is leap year

4th question

In [ ]:
n=input("Enter a string : ")
print(n.replace(' ','-'))

Enter a string : my name is chaitanya
my-name-is-chaitanya

5th question

In [ ]:
L=["orange","white","red","cyan","green","magenta","cyan","pink","white"]
print("the original list is:",(L))
L=list(set(L))
print("the list after removing the duplicates is:",(L))
L.sort()
print(L)

the original list is: ['orange', 'white', 'red', 'cyan', 'green', 'magenta', 'cyan', 'pink', 'white']
the list after removing the duplicates is: ['green', 'orange', 'red', 'cyan', 'pink', 'magenta', 'white']
['cyan', 'green', 'magenta', 'orange', 'pink', 'red', 'white']

6th question

In [ ]:
salary=int(input("Enter the salary : "))
if (salary>=0) and (salary<=250000):
    tax=(salary*0)
elif (salary>250000) and (salary<=500000):
    tax=(salary*0.05)
elif (salary>500000) and (salary<=750000):
    tax=(salary*0.1)
elif (salary>750000) and (salary<=1000000):
    tax=(salary*0.15)
elif (salary>1000000) and (salary<=1250000):
    tax=(salary*0.2)
elif (salary>1250000) and (salary<=1500000):
    tax=(salary*0.25)
else:
    tax=(salary*0.3)
print("Tax is : ",tax)

Enter the salary : 5000000
Tax is :  1500000.0

7th question

In [ ]:
l=[11,33,50]
for i in l:
  print(i,end="")

113350

8th question

In [ ]:
secondspermin=60
secondsperhour=3600
secondsperday=86400
days=int(input("Enter the number of Days: "))
hours=int(input("Enter the number of Hours: "))
minutes=int(input("Enter the number of Minutes: "))
seconds=int(input("Enter the number of Seconds: "))
totalseconds=days*secondsperday
totalseconds=totalseconds+(hours*secondsperhour)
totalseconds=totalseconds+(minutes*secondspermin)
totalseconds=totalseconds+seconds
print("Total number of seconds = ","%d"%(totalseconds))

Enter the number of Days: 70
Enter the number of Hours: 5
Enter the number of Minutes: 60
Enter the number of Seconds: 55
Total number of seconds =  6069655

9th question

In [ ]:
a=int(input("Enter the number of a:"))
b=int(input("Enter the number of b:"))
c=int(input("Enter the number of c:"))
d=min(a,b,c)
e=max(a,b,c)
f=(a+b+c)-d-e
print("The Sorted order is:",d,f,e)

Enter the number of a:9
Enter the number of b:5
Enter the number of c:7
The Sorted order is: 5 7 9

10th question

In [ ]:
year=int(input("Enter a year : "))
if year%400== 0:
    leapyear=True
elif year%100==0:
    leapyear=False
elif year%4==0:
    leapyear=True
else:
    leapyear=False
month=int(input("Enter a month between 1 to 12 : "))
if month in (1, 3, 5, 7, 8, 10, 12):
    monthlength=31
elif month==2:
    if leapyear:
        monthlength=29
    else:
        monthlength=28
else:
    monthlength=30
day=int(input("Enter a day between 1 to 31 : "))
if day<monthlength:
    day+=1
else:
    day=1
    if month==12:
        month=1
        year+=1
    else:
        month+=1
print("The immediate successor is YYYY-MM-DD : %d-%d-%d." %(year,month,day))

Enter a year : 2001
Enter a month between 1 to 12 : 4
Enter a day between 1 to 31 : 23
The immediate successor is YYYY-MM-DD : 2001-4-24.

11th question

In [ ]:
list=[45,3,2,89,72,1,10,7]
n=1
for i in range(len(list)):
    n=n*list[i]
print(n)

121111200

12th question

In [ ]:
l=[5,6,8,34,89,1]
Out_list=[]
for i in range(len(l)-1):
    ol=l[i]+l[i+1]
    Out_list.append(ol)
print("Out_list=",Out_list)

Out_list= [11, 14, 42, 123, 90]

13th question

In [2]:
n=(5,6,8,3,9,1)
Out_list=[]
Out_list.append(n[0])
for i in range(len(n)-1):
    m=Out_list[i]*t[i+1]
    Out_list.append(m)
print("Out_list=",Out_list)

NameError: ignored

14th question

In [ ]:
number=input("Enter a number: ")
list=[]
for n in range(len(number)):
    list.append(number[n])
print(list)

Enter a number: 9
['9']

15th question

In [ ]:
def longestpalindrome(n):
    d=[[False for i in range(len(n))] for i in range(len(n))]
    for i in range(len(n)):
        d[i][i]=True
    maxlen=1
    start=0
    for j in range(2,len(n)+1):
        for i in range(len(n)-j+1):
            end=i+j
            if j==2:
                if n[i]==n[end-1]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
            else:
                if n[i]==n[end-1] and d[i+1][end-2]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
    return n[start:start+maxlen]
n=input("Enter a string : ")
print(longestpalindrome(n))

Enter a string : education
e

16th question

In [ ]:
t=int(input())
for i in range(t):
  A,B=input("Enter A string and B string : ").split()
  if B in A:
    print("1")
  else:
    print("0")

25
Enter A string and B string : is and
0
Enter A string and B string : or am
0

17th question

In [ ]:
def gcd(a,b):
    if b==0: 
        return a 
    return gcd(b,a%b) 
def countsteps(a,b,c): 
    v1=b
    v2=0
    count=1
    while ((v1 is not c) and (v2 is not c)): 
        temp=min(v1,a-v2) 
        v2=v2+temp 
        v1=v1-temp 
        count=count+1
        if ((v2==c)or(v1==c)): 
            break
        if v1==0: 
            v1=b 
            count=count+1
        if v2==a: 
            v2=0
            count=count+1
    return count 
def ispossible(a,b,c): 
    if a>b: 
        temp=a 
        a=b 
        b=temp 
    if c>b: 
        return -1
    if (c%(gcd(b,a)) is not 0): 
        return -1
    return(min(countsteps(b,a,c),countsteps(a,b,c)))
t=int(input("Enter no of testcases : "))
for i in range(t):
  a=int(input("Enter capacity of vessel a : "))
  b=int(input("Enter capacity of vessel b : "))
  c=int(input("Enter capacity to be obtained :"))
  print("Minimum number of steps required is : ",ispossible(a,b,c))

Minimum number of steps required is :  -1
Minimum number of steps required is :  -1
Minimum number of steps required is :  -1
Minimum number of steps required is :  -1
Minimum number of steps required is :  76
Minimum number of steps required is :  249792
Minimum number of steps required is :  282